<header class="header">
  <div class="logo">
    {{#link 'help_center' class='logo-link' }}
    <img src="{{logo_url}}" alt="{{t 'logo'}}">
    {{/link}}
  </div>
  {{search submit=false instant=true}}
</header>
<div class="mobile-search-wrapper">
  {{search submit=false instant=true}}
</div>
